<h1>Tasks#new</h1>
<p>Find me in app/views/tasks/new.html.erb</p>

<%= form_for @task do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :done %>
  <%= f.check_box :done %>
  <%= f.submit %>
<% end %>
